@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  /* background: rgb(233, 232, 232); */
}

.neon-text {
  color: #00ffe0;
  text-shadow: 0 0 5px #00ffe0, 0 0 10px #00ffe0;
}

.glass {
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
}

select {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
}

select:focus {
  outline: none;
  border-color: #00ffe0;
}
